<script>
  var url = "/index.html?access_token=<%= accessToken %>&userId=<%= userId %>&email=<%= email %>&validTo=<%= validTo %>";

  window.location.replace(url);
</script>

<br/>
  <a href="/logout?access_token=<%= accessToken %>">Log out</a>
  
  <a href="/index.html?access_token=<%= accessToken %>&userId=<%= userId %>">Redirect</a>
</main>
